@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;600&display=swap');
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;  
}



.heading-font{
  font-family: 'Spectral', serif;
}
.paragraph-font {
  font-family: 'Spectral', serif;
}


body {                      /* for the bg i took a snap of your design and repeated it in background to create exact same effect */
  background-image: url('./assets/pattern.png');
  background-repeat: repeat;   
  background-size:  120px 120px;        
  background-position: top left; 
}


